* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.text-gray {
    color: #f4f5f9;
}

.bg-gray {
    background-color: #f4f5f9;
}

.text-pink {
    color: #F71D51;
}

.bg-pink {
    background-color: #F71D51;
}

.text-purple {
    color: #6E13AE;
}

.bg-purple {
    background-color: #6E13AE;
}

.text-primary {
    color: #0e1320;
}

.bg-primary {
    background-color: #0e1320;
}

.text-secondary {
    color: #6366f1;
}

.bg-secondary {
    background-color: #6366f1;
}

.text-third {
    color: #10b981;
}

.bg-third {
    background-color: #10b981
}

.vh-90 {
    height: 90vh;
}

header.masthead {
    text-align: center;
    /* background-image: url("https://images.unsplash.com/photo-1673551348556-9a104adb2847?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover; */
}

header.masthead .masthead-subheading {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
}

@media (min-width: 768px) {

    header.masthead .masthead-subheading {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }

    header.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
    }
}